.vision__left {
  background-color: #0a152b;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-bottom: 6px solid #800000;
  text-align: left;
  padding: 10px;
  padding-left: 25px;
}

.vision__left > h1 {
  margin-left: 50px;
}

.vision__right {
  width: 75%;
  margin: 50px auto;
  text-align: left;
}

.vision__right > h2 {
  color: #0a152b;
  margin-bottom: 3%;
}
