@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.app__navbar {
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
